body {
  margin-top: 5%;
  background: transparent;
}

table, th, td {
  border: none;
}
th, td {
  font-size: large;
}


#todo {
  margin-left: 1px;
  padding-top: 30px;
  border-radius: 20px;
  border: 2px double rgb(217, 135, 250);
  width: 100%;
  color: rgb(236, 238, 144);
}

.bt {
  background-color: lightgreen;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.bt2 {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.bt2:hover {
  background-color: darkred;
}
.bt:hover {
  background-color: green;
}

::placeholder {
  color: white;
}

span {
  background: lightgrey;
}

#addItem {
  background: rgb(0, 0, 0);
}




