<div class="parent-container">
  <div class="child-container">
    <h2><b>Search for your recipe!!
    </b></h2><br>
    <form>
      <div class="form-group">
        <div class="form-group col-lg-6 col-lg-offset-3 input-group">
          <input #recipe class="form-control" placeholder="Recipe name" type="text">
          <span class="input-group-addon">-</span>
          <input #place class="form-control" placeholder="Place" type="text">
          <span class="input-group-addon">-</span>

        </div>
        <br>
        <button (click)="getVenues()" class="btn col-lg-2 col-lg-offset-5 " type="button">Go</button>

      </div>
    </form>
  </div>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>How to make</b></div>
        <div class="panel-body">
          <div *ngFor="let recipe of recipeList" class="list-group">
            <img src="{{ recipe.image }}" style="">
            <h2><b>{{ recipe.label }}</b></h2>
            <p>Servings: {{ recipe.yield }} | Calories per serving: {{ recipe.calories.toFixed() }}</p>
            <p>Diet: {{ recipe.dietLabels }}, {{ recipe.healthLabels }}</p>
            <p>Source: <a href="{{ recipe.url }}">{{ recipe.url }}</a> </p>
            <!-- display list of ingredients -->
            <h3>Ingredients: </h3>
            <div *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
              {{ingredient.text}}
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>Where to get</b></div>
        <div class="panel-body">
          <div *ngFor="let venue of venueList" class="list-group-item clearfix">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{venue.name}}</h4>
              <p>{{venue.location.address}}</p>
              <p>{{venue.location.city}}, {{venue.location.state}} {{venue.location.postalCode}} </p>
              <p>{{venue.location.country}} </p>
            </div>
            <span class="pull-right">
             <a target="_blank" href="http://maps.google.com/maps?saddr={{currentLat}},{{currentLong}}
             &daddr={{venue.location.formattedAddress[0]}},{{venue.location.formattedAddress[1]}},{{venue.location.formattedAddress[2]}}">
               <img src="../../assets/google.png" style="width: 30px; height: 30px;"></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>